@media only screena and (min-width: 32.5em) {
    body {
        font-size: 10px;
        font-style: bold;
        font-family: 'Roboto Mono', monospace;
    }

    header img {
        width: 50;
        height: auto;
    }

    footer {
        background-color: blue;
        display: grid;
        grid-template-columns: 100px 1fr;
        text-align: center;
        font-family: 'Roboto Mono', monospace;
    }
}